@font-face{ font-family: farzad; src: url('../../Entezar/EntezarB4_v2.0.1_.ttf    '); }

body{
    font-family: 'farzad',serif;
}

* {box-sizing: border-box}

body {
    background-image: linear-gradient(150deg, #e0a800 5%, deeppink  100%, #c69500 100%);
    min-height: 93vh;
    height: 1003px;
    width: 1920px;
    font-family: farzad, sans-serif;
}

.tab button {
    transition: 1.9s;
    font-size: 30px;
}

.tab button:hover {
    background-color: #ffb333;
}

.tab button.active {
    background-color: rgba(0, 0, 0,0.2);
}

.tabContent {
    height: 90%;
    text-align: right;
    background-color: rgba(0, 0, 0,0.1);
    border-radius: 10px;
    border: white groove 1px ;
}

.trans{
    background-color: rgba(0, 0, 0,0.5);
    border-radius: 10px;
    border: white groove 1px ;
}

input{
    font: 40px 'farzad';
    background-color: rgba(0,0,0, 0.1);
    margin-top: 10%;
    height: 20px;
}

input::placeholder{
    color: white;
}

.star-rating-container {
    font-family: icomoon,serif;
    font-size: 50px;
    color: #ffbe00;
    position: relative;
    display: inline-block;
}

.star-rating-container.result {
    color: #ff4d30;
}

.star-rating-on {
    cursor: pointer;
    position: relative;
    z-index: 10;
    overflow: hidden;
    white-space: nowrap;
}

.star-rating-off {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    color: #eee;
}

.star-rating-container.result .star-rating-off {
    color: dimgrey;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 10px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.check:hover input ~ .checkmark {
    background-color: #ccc;
}

.check input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check input:checked ~ .checkmark:after {
    display: block;
}

.check .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}